
@{
    ViewBag.Title = "contrat";
}

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>

    <div class="wrapper">
        <div class="title">term and condition</div>
        <p>

            In order to provide our Services (as defined below) through our apps, services,
            features, software, or website, we need to obtain your agreement to our Terms of Service ("Terms").

            WhatsApp LLC ("WhatsApp," "our," "we," or "us") provides the services described below to you
            ("Services") unless you live in a country or territory in the European Economic Area (which
            includes the European Union) and any other included country or territory (collectively referred
            to as the "European Region").

            About Our Services
            Privacy And Security Principles. Since we started WhatsApp, we've built our Services with
            strong privacy and security principles in mind.
        <p>
            Connecting You With Other People. We provide, and always strive to improve, ways for you to
            communicate with other WhatsApp users including through messages, voice and video calls,
            sending images and video, showing your status, and sharing your location with others when you choose.
            We may provide a convenient platform that enables you to send and receive money to or from other
            users across our platform. WhatsApp works with partners, service providers, and affiliated companies
            to help us provide ways for you to connect with their services.
            Ways To Improve Our Services. We analyze how you make use of WhatsApp, in order to improve our Services,
            including helping businesses who use WhatsApp measure the effectiveness and distribution of their
            services and messages. WhatsApp uses the information it has and also works with partners, service
            providers, and affiliated companies to do this.
            Communicating With Businesses. We provide, and always strive to improve, ways for you and businesses
            and other organizations, to communicate with each other using our Services, such as through order,
            transaction, and appointment information, delivery and shipping notifications, product and service
            updates, and marketing.
        </p>

        <p>
            Safety, Security, And Integrity. We work to protect the safety, security, and integrity of our Services.
            This includes appropriately dealing with abusive people and activity violating our Terms. We work to
            prohibit misuse of our Services including harmful conduct towards others, violations of our Terms
            and policies, and address situations where we may be able to help support or protect our community.
            If we learn of people or activity like this, we will take appropriate action, including by removing
            such people or activity or contacting law enforcement. Any such removal will be in accordance with
            the “Termination” section below.
        </p>
        <p>
            Enabling Access To Our Services. To operate our global Services, we need to store and distribute content
            and information in data centers and systems around the world, including outside your country of residence.
            The use of this global infrastructure is necessary and essential to provide our Services.
            This infrastructure may be owned or operated by our service providers including affiliated companies.
            Affiliated Companies. We are part of the Facebook Companies. As part of the Facebook Companies,
            WhatsApp receives information from, and shares information with, the Facebook Companies as described
            in WhatsApp's Privacy Policy, including to provide integrations which enable you to connect your WhatsApp
            experience with other Facebook Company Products; to ensure security, safety, and integrity across the Facebook
            Company Products; and to improve your ads and products experience across the Facebook Company Products. Learn
            more about the Facebook Companies and their terms and policies here.
        </p>

        </p>

        <div class="signup-link">
            <a href="@Url.Action("register", "Account")">Back</a>
        </div>
    </div>
</body>