
@{
    ViewBag.Title = "recuperemotdepasse";
}

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>

    <div class="wrapper">
        <div class="title">Recuperer mot de passe</div>
        <form action="#">

            <div class="field">
                <input type="text" placeholder="Enter your email" required>
            </div>

            <div class="field">
                <input type="submit" value="Envoyez">
            </div>

            <h6 align="center">A code will be sent to you via this email !!!</h6>

            <div class="signup-link">
                <a href="@Url.Action("Login", "Account")">Connexion</a>
            </div>

        </form>
    </div>
</body>