
@{
    ViewBag.Title = "register";
}

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>

    <div class="wrapper">
        <div class="title">Enregistrement</div>
        <form action="#">

            <div class="field">
                <input type="text" required>
                <label>Nom</label>
            </div>

            <div class="field">
                <input type="text" required>
                <label>Prenom</label>
            </div>

            <div class="field">
                <input type="text" required>
                <label>Telephone</label>
            </div>

            <div class="field">
                <input type="text" required>
                <label>Email</label>
            </div>

            <div class="field">
                <input type="Date" required>
                <label></label>
            </div>

            <div class="field">
                <input type="password" required>
                <label>Mot de passe</label>
            </div>

            <div class="field">
                <input type="password" required>
                <label>Confirme mot de passe</label>
            </div>

            <div class="field">
                <input type="submit" value="Créer compte">
            </div>

            <div class="signup-link">
                <a href=""@Url.Action("Login", "Account")">Connexion</a>
            </div>

            <div class="signup-link">
                <a href=""@Url.Action("contrat", "Account")">term and contrat</a>
            </div>

        </form>
    </div>
</body>